header .form-control:focus,
header .form-select:focus {
    box-shadow: none;
    border-color: #ced4da;
}

header .input-group-text {
    border-right: 0;
}

header .form-control,
header .form-select {
    border-left: 0;
}

.service-box {
  transition: 0.3s ease;
  cursor: pointer;
}
.service-box:hover {
  transform: translateY(-5px);
}

.promo-card {
  min-height: 160px;
}


footer .footer-links li {
  margin-bottom: 8px;
}

footer .footer-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

footer .footer-links a:hover {
  color: #000;
}

.social-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  background: #000;
  color: #fff;
}

.modal-content {
  max-width: 420px;
  margin: auto;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-content {
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.modal .form-control:focus,
.modal .form-select:focus {
  box-shadow: none;
  border-color: #ced4da;
}
#phoneSection, #otpSection {
  transition: all 0.3s ease;
}

.otp-box {
  width: 48px;
  height: 55px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
}

.otp-box:focus {
  box-shadow: none;
  border-color: #0d6efd;
}


/* ================= PROMO SLIDER ================= */

.promo-card {
  position: relative;
  height: 220px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 30px;
  color: #000;
}

.promo-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.6);
}

.promo-card.green::before {
  background: rgba(16, 122, 82, 0.85);
}

.promo-card.pink::before {
  background: rgba(210, 32, 111, 0.85);
}

.promo-content {
  position: relative;
  z-index: 2;
  max-width: 60%;
}

.promo-card h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.splide__arrow {
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.splide__arrow svg {
  fill: #000;
}